@media screen and (max-width: 1085.99px) {
    .navbar {
        padding: 0px 0px 0px 52px;
    }

    .navbar-brand {
        width: 200px;
    }

    header ul.navbar-nav>li:not(:last-child) {
        margin-right: 20px;
    }

    header ul.navbar-nav>li:last-child>a {
        padding: 16px 14px;
    }

    .banner-title {
        font-size: 40px;
    }
}

@media screen and (max-width: 820.99px) {

    /* .navbar-nav {
        display: none;
    } */

    .navbar-nav
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        padding: 30px;
        transform: translateX(-100%);
        transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        z-index: 9999;
    }
    .navbar-collapse
    {
        transform: translateX(0);
    }
     header ul.navbar-nav > li
    {
        padding: 10px 0px;
        margin: 0px !important;
    }
    header ul.navbar-nav > li:not(:last-child)
    {
        border-bottom: 1px solid rgba(0 0 0 / 20%);
    }
    header ul.navbar-nav > li:last-child > a
    {
        display: block;
        border-radius: 10px;
    }
    .navbar-toggler
    {
        display: block;
        visibility: visible;
        background: transparent;
        border: none;
        padding: 16px 20px;
    }
    .line {
        fill: none;
        stroke: black;
        stroke-width: 6;
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
            stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .line1 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
    }

    .line2 {
        stroke-dasharray: 60 60;
        stroke-width: 6;
    }

    .line3 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
    }

    .opened .line1 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
    }

    .opened .line2 {
        stroke-dasharray: 1 60;
        stroke-dashoffset: -30;
        stroke-width: 6;
    }

    .opened .line3 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
    }
    .banner-title
    {
        font-size: 28px;
    }
}

@media screen and (max-width: 768.99px)
{
    .navbar-brand
    {
        width: 190px;
    }
}

@media screen and (max-width: 576.99px)
{
    .container-fluid
    {
        padding: 0px 20px;
    }
    .navbar
    {
        padding: 0px;
    }
    .navbar-toggler
    {
        padding: 0px;
    }
    .navbar-brand
    {
        left: 0;
        right: 0;
        margin: 0px auto;
        top: -20px;
    }
    .navbar-brand > img
    {
        transform: scale(0.8) translateY(-30%);
    }
    .navbar-nav
    {
        width: 70%;
    }
    .banner-bg
    {
        padding-top: 70px;
    }
    .banner
    {
        padding: 0px 20px;
    }
    .banner-title
    {
        font-size: 22px;
    }
    p
    {
        font-size: 14px;
    }
}